/* -------------TEXTO------------- */
.letraBranca {
    color: white;
}

.letraPreta {
  color: black;
}

.letraVermelha {
  color: red;
}

.font-50 {
    font-size: 50px;
}

/* -------------LOGO------------- */
.logoTower {
  max-width: 50px;
}

.logoTowerFooter {
  max-width: 100px;
}

/* -------------custom bootstrap------------- */
.decoration-none {  
    text-decoration: none;
}


/* -------------Botões------------- */
.btn-azulTower {
    color: #fff;
    background-color: #4478bf;
    border-color: #4478bf;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #4478bf;
    border-color: #4478bf;
  }

  .btn-outline-azulTower {
    color: #4478bf;
    border-color: #4478bf;
  }
  .btn-outline-azulTower:hover {
    color: #fff;
    background-color: #4478bf;
    border-color: #4478bf;
  }

.towerHover:hover {
    color: #4478bf !important
}
.whatsappBtn{
    max-width: 85px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1000;
}

.instaBtn {
  max-width: 60px;
}

/* -------------BG------------- */
.bg-tower{
  background-color: #4478bf ;
}

