.letraBranca {
    color: white;
}

.font-50 {
    font-size: 50px;
}

.towerHover:hover {
    color: rgb(56, 69, 248) !important
}

.whatsappBtn{
    max-width: 90px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1000;
}
